.container{
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        width: 80vw;
    }
}