.card{
    display: flex;
    flex-direction: column;
    width: 23vw;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    min-height: 240px;
    background-color: rgb(11, 11, 11);
    border: 2px solid rgb(11, 11, 11);
    transition: .4s;

    .tecnologias{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        >li{
            padding: 10px;
            border: 2px solid rgb(5, 5, 200);
            border-radius: 10px;
            list-style: none;
        }
    }
}

.card:hover{
    cursor: pointer;
    border: 2px solid white;
}

@media (max-width: 1024px) {
    .card{
        width: 90vw;
    }
}