.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    >div{
        transition: .4s;
        padding: 20px;
        border-radius: 180px;
    }

    >div:hover{
        background-color: rgb(80, 80, 80);
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .container{

        flex-wrap: wrap;
    

    }
}